<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Template</title>
    <link rel="stylesheet" href="/Templates/header/header.css">
  </head>
  <body>

  <header class="header">
    <div class="logo">
      <a href="/html/noLogin/Main/index.html" target="_self">
        <img src="icon.png" alt="Logo" class="logo-img">
      </a>
      <span class="logo-text">Instant Message</span>
    </div>

    <nav class="nav">
      <a href="../../html/noLogin/signIn/signIn.html" class="nav-link">
        <button class="button sign-in">Sign in</button>
      </a>
      <a href="../../html/noLogin/Register/register.html" class="nav-link">
        <button class="button register">Register</button>
      </a>
    </nav>
  </header>

  </body>
</html>
