<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Email</title>
  <link rel="stylesheet" href="requestSelector.css">
</head>
<body>
<form>
  <label for="email">Email</label>
  <select id="email-selec" name="email-selec">
    <option value="" disabled selected>Selecciona un correo</option>
    <option value="gmail.com">Gmail</option>
    <option value="outlook.com">Outlook</option>
    <option value="yahoo.com">Yahoo</option>
    <option value="icloud.com">iCloud</option>
  </select>
</form>
</body>
</html>
