.body {
  font-family: "Times New Roman", sans-serif;
}

.label-selector {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.select {
  height: 45px;
  width: 51.5%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
