<div class="container">
  <!-- Sidebar -->
  <aside id="sidebar">
    <div id="chat-header">
      <span>Mis Chats</span>

      <div class="chat-buttons">
        <button class="icon-button" id="add-contact">
          <a id="addContactLink" routerLink="/contact">
            <img id="addContact" src="/assets/icons/add-contact.svg" alt="Añadir Contacto">
          </a>
        </button>

        <button class="icon-button" id="create-group">
          <a id="addGroupLink"><img id="addGroup" src="" alt="Crear Grupo"></a>
        </button>
      </div>
    </div>

    <div class="chat-list-Start">
      <!-- Aquí se cargarán los templates de los chats -->
      <div id="conversations"></div>
    </div>
  </aside>

  <!-- Área principal de chat -->
  <main class="chat-container">
    <!-- User Info -->
    <div class="user-info-template" id="userInfo">
      <a id='avatar-nombre'>
        <div id="avatar"></div>
      </a>
    </div>

    <!-- Mensajes -->
    <div class="chat-messages" id="messageContainer">
      <div class="messages">
        <div id="mensajes" class="message"></div>
        <div class="mensajes"></div>
      </div>
    </div>

    <!-- Input -->
    <div class="chat-input">
      <button class="emoji-btn">😊</button>
      <button class="attach-btn">📎</button>
      <input type="text" placeholder="Escribe un mensaje...">
      <button class="send-btn">Enviar</button>
    </div>
  </main>
</div>
