@import url("colors.css");

/* Reset y configuración global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body.body-profile {
  background-color: var(--white);
}

#profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ajustar los div internos */
#avatar, .notChan {
  width: 60%;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
