* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cuerpo */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #3ec9a7;
}

#header {
  margin-bottom: 20px;
}

#footer {
  margin-top: 20px;
}

main {
  flex: 1; /* Hace que el main crezca y empuje el footer abajo */
  padding: 20px;
}

/* Formulario */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todo dentro del formulario */
  justify-content: center;
  width: 100%;
}

#input-group {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos */
  gap: 10px; /* Espaciado entre los inputs */
  width: 50vw; /* Mismo ancho que los inputs */
}

.form-container form div {
  width: 100%; /* Asegura que los elementos dentro del form ocupen todo */
}

/* Botón */

.boton-container {
  display: flex;
  justify-content: center; /* Centrar el botón */
  margin-top: 20px; /* Espaciado superior */
}

.boton-container a {
  text-decoration: none; /* Quita el subrayado del enlace */
}

.boton-container button {
  height: 3vh; /* Misma altura que el input */
  width: 50vw; /* Misma anchura que el input */
  border: 1px solid #333333; /* Mismo borde que el input */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #333333; /* Color de fondo similar al input */
  color: white;
  font-size: 16px; /* Tamaño de letra */
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.boton-container button:hover {
  background-color: #25D366; /* Cambio de color al pasar el mouse */
}



