* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh; /* La página ocupará al menos el 100% de la pantalla */
  background-color: #3ec9a7;
}

/* Contenedor principal de ajustes */
#settings-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 30px;
  margin: auto; /* Centra el contenedor en la página */
}

/* Campos seleccionables */
.selectable {
  width: 100%;
  margin-bottom: 20px;
}

/* Asegurar que los inputs ocupen todo el ancho */
.selectable select, .selectable input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
}

/* Asegurar que el contenedor de botones mantiene la estructura */
.buttons-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Enlace dentro de los botones: ocupa todo el ancho */
.buttons-container a {
  text-decoration: none;
}

/* Botón con enlace */
.buttons-container a button {
  width: 63vb;
  padding: 14px;
  font-size: 16px;
  color: white;

  background: #222;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.buttons-container a button:hover {
  background: #444;
}

#footer {
  margin-top: auto;
}
