<div class="page-home">
  <section class="hero">
    <div class="hero-content">
      <div class="hero-logo">
        <img *ngIf="datosImagenFullLogo$ | async as datosFullLogo" [src]="datosFullLogo.url" alt="FullLogo">
      </div>
      <div class="hero-description">
        <h1>Instant Message</h1>
        <p>
          Instant Message es una plataforma de mensajería moderna, sencilla y eficaz diseñada para ofrecer una experiencia fluida y directa entre usuarios.
          Ideal para entornos personales o profesionales, permite comunicarte al instante sin complicaciones, con una interfaz intuitiva y clara que se adapta a tus necesidades.
        </p>
      </div>
    </div>
  </section>
</div>
