<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Template</title>
    <link rel="stylesheet" href="/Templates/css/Header_Sign_In.css">
  </head>

  <body>

  <header class="header">
    <div class="logo-container">
      <a href="/main/html/index.html" target="_self">
        <img src="icon.png" alt="Logo" class="logo-img">
      </a>
      <span class="logo-text">Instant Message</span>
    </div>

    <div class="user-section-header">
      <button class="button-header-login">
        <a href="/main/html/start.html"><img src="/Templates/externalSources/Inicio.png" alt="Inicio" class="btn-img"></a>
      </button>

      <button class="button-header-login">
        <a href="/main/html/settings.html"><img src="/Templates/externalSources/Configuración.png" alt="Configuración" class="btn-img"></a>
      </button>

      <span class="username">Usuario</span>

      <div class="avatar-container">
        <a href="/main/html/profile.html"><img src="/Templates/externalSources/avatar.jpg" alt="Foto de perfil" class="circular-img"></a>
      </div>
    </div>

  </header>

  </body>
</html>
