<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Header Template</title>

    <script type="module" src="../javascript/header.js"></script>
    <link id="cssHeaderLink" rel="stylesheet">
  </head>
  <body>

  <header class="header">
    <div class="logo">
      <a id="indexLink" target="_self">
        <img src="icon.png" alt="Logo" class="logo-img">
      </a>
      <span class="logo-text">Instant Message</span>
    </div>

    <nav class="nav">
      <a id="signInLink" class="nav-link">
        <button class="button sign-in">Sign in</button>
      </a>
      <a id="registerLink" class="nav-link">
        <button class="button register">Register</button>
      </a>
    </nav>
  </header>

  </body>
</html>
