<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Header Template</title>

  <script type="module" src="../javascript/headerSignIn.js"></script>
  <link id="cssHeaderSignInLink" rel="stylesheet">
</head>

<body class = "body-headerSignIn">

<header class="header" role="banner">
  <div class="logo-container">
    <a id="indexLink" target="_self">
      <img id="Main_Icon" src="" alt="logo"/>
    </a>
  </div>

  <div class="user-section-header">
    <button class="button-header-login">
      <a id="startLink"><img id="Inicio" src="" alt="logo"/></a>
    </button>

    <button class="button-header-login">
      <a id="settingsLink"><img id="Configuracion" src="" alt="logo"/></a>
    </button>

    <span class="username">Usuario</span>

    <div class="avatar-container">
      <a id="profileLink"><img id="avatarPng" src="" alt="logo"/></a>
    </div>
  </div>

</header>

</body>
</html>
