<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector Genérico</title>
    <link rel="stylesheet" href="/Templates/css/requestSelector.css">
  </head>
  <body>
    <form>
      <label class="label-selector" for="generic-select">Lorem Ipsum</label>
      <select class="selector" id="generic-select" name="generic-select">
        <option value="" disabled selected>Lorem Ipsum</option>
        <option value="option1">Opción 1</option>
        <option value="option2">Opción 2</option>
      </select>
    </form>
  </body>
</html>

