<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Email</title>
    <link rel="stylesheet" href="/Templates/css/requestSelector.css">
  </head>
  <body>
    <form>
      <label class="label-selector" for="Theme-selec">Email</label>
      <select class="select" id="Theme-selec" name="Theme-selec">
        <option value="" disabled selected>Selecciona un correo</option>
        <option value="Original">Original</option>
        <option value="Dark">Oscuro</option>
      </select>
    </form>
  </body>
</html>
