<header class="header" role="banner" *ngIf="user$ | async as user; else notLoggedIn">
  <div class="logo-container">
    <a [routerLink]="['/']" target="_self">
      <img id="Main_Icon" *ngIf="datosImagenLogo$ | async as datosAvatarLogo" [src]="datosAvatarLogo.url" alt="Avatar Contact">
    </a>
  </div>

  <div class="user-section-header">
    <button class="button-header-login">
      <a [routerLink]="['/chat']">
        <img id="Inicio" *ngIf="datosImagenMain$ | async as datosAvatarMain" [src]="datosAvatarMain.url" alt="Avatar Contact">
      </a>
    </button>

    <button class="button-header-login">
      <a [routerLink]="['/settings']">
        <img id="Configuracion" *ngIf="datosImagenSettings$ | async as datosSettings" [src]="datosSettings.url" alt="Settings">
      </a>
    </button>

    <span class="username">{{ user.email }}</span>

    <div class="avatar-container">
      <a [routerLink]="['/profile']">
        <ng-container *ngIf="datosUsuario$ | async as datos">
          <img id="avatarPng" [src]="datos.url" alt="Avatar" />
        </ng-container>
      </a>
    </div>
  </div>
</header>

<!-- Si el usuario NO está logueado -->
<ng-template #notLoggedIn>
  <header class="header">
    <div class="logo">
      <a [routerLink]="['/']" target="_self">
        <img id="Main_Icon" *ngIf="datosImagenLogo$ | async as datosAvatarLogo" [src]="datosAvatarLogo.url" alt="Avatar Contact">
      </a>
    </div>

    <nav class="nav">
      <a [routerLink]="['/login']" class="nav-link">
        <button class="button sign-in">Sign in</button>
      </a>
      <a [routerLink]="['/register']" class="nav-link">
        <button class="button register">Register</button>
      </a>
    </nav>
  </header>
</ng-template>
