body {
  font-family: "Times New Roman", sans-serif;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 1vw;
}

input {
  height: 2vh;
  width: 50vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
