/* styles.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}



.text {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el texto verticalmente */
}

.text p {
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  background: none; /* Sin fondo */
}

time {
  font-size: 12px;
  color: gray;
  align-self: flex-start; /* Alinea la hora a la izquierda */
}
