@import url("colors.css");

.hw-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--verde-primario);
  padding: 10px 20px;
  color: var(--blanco);
}

/* Logo */
.hw-logo {
  display: flex;
  align-items: center;
}

.hw-logo__img {
  width: 150px;
  height: 50px;
  margin-right: 1vw;
}

/* Navegación */
.hw-nav {
  display: flex;
  gap: 10px;
}

.hw-nav__link {
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: none;
}

/* Botones específicos del header */
.hw-button {
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  color: var(--blanco);
  text-decoration: none;
  font-family: inherit;
}

.hw-button--sign-in {
  background-color: var(--grayh);
  color: var(--blanco);
  border: 1px solid var(--blanco);
}

.hw-button--register {
  background-color: var(--grayh);
  color: var(--blanco);
  border: 1px solid var(--blanco);
}

/* Responsive */
@media (max-width: 600px) {
  .hw-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .hw-logo__text {
    display: none;
  }

  .hw-nav {
    gap: 5px;
  }

  .hw-button {
    padding: 5px 10px;
    font-size: 12px;
  }
}
