<ion-content class="login-page" [fullscreen]="true">
  <div class="formulario">
    <h1>Iniciar sesión</h1>

    <form (ngSubmit)="login()">
      <label>
        <span>Email *</span>
        <ion-input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Email"
          [required]="true"
          fill="outline">
        </ion-input>
      </label>

      <label>
        <span>Contraseña *</span>
        <ion-input
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Contraseña"
          [required]="true"
          fill="outline">
        </ion-input>
      </label>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="cargando || !email || !password">
        {{ cargando ? 'Ingresando...' : 'Iniciar sesión' }}
      </ion-button>
    </form>
  </div>
</ion-content>
