<ion-header class="espaciador-header">
  <ion-toolbar class="toolbar-blanco">
    <ion-title></ion-title> <!-- Espaciador visual -->
  </ion-toolbar>
</ion-header>

<ion-content class="registro-page" [fullscreen]="true">
  <form (ngSubmit)="registrar()">
    <label>
      <span>Nombre *</span>
      <ion-input
        fill="outline"
        [(ngModel)]="nombre"
        name="nombre"
        [required]="true"
        placeholder="Tu nombre">
      </ion-input>
    </label>

    <label>
      <span>Apellido *</span>
      <ion-input
        fill="outline"
        [(ngModel)]="apellido"
        name="apellido"
        [required]="true"
        placeholder="Tu apellido">
      </ion-input>
    </label>

    <label>
      <span>Teléfono *</span>
      <ion-input
        fill="outline"
        type="tel"
        [(ngModel)]="telefono"
        name="telefono"
        [required]="true"
        placeholder="Tu teléfono">
      </ion-input>
    </label>

    <label>
      <span>Correo electrónico *</span>
      <ion-input
        fill="outline"
        type="email"
        [(ngModel)]="email"
        name="email"
        [required]="true"
        placeholder="tucorreo@ejemplo.com">
      </ion-input>
    </label>

    <label>
      <span>Contraseña *</span>
      <ion-input
        fill="outline"
        type="password"
        [(ngModel)]="password"
        name="password"
        [required]="true"
        placeholder="Tu contraseña">
      </ion-input>
    </label>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="cargando || !email || !password || !nombre || !apellido || !telefono">
      {{ cargando ? 'Registrando...' : 'Registrarse' }}
    </ion-button>
  </form>
</ion-content>
